a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header
,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video
{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
body{line-height:1}
ol,ul{list-style:none}
blockquote,q{quotes:none}
blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}
table{border-collapse:collapse;border-spacing:0}

.header{display:grid;grid-template-columns:24px 400px 1fr 84px 24px;grid-template-areas:'left-space logo nav account right-space';align-items:center;height:64px;background-color:#ff4500}
.header .logo{grid-area:logo;font-size:2rem;font-weight:700;text-decoration:none;color:#fff}
.header .nav{grid-area:nav}
.header .nav li{display:inline-block;margin-right:36px}
.header .nav li a{font-size:1.25rem;text-decoration:none;color:#fff}
.header .account{grid-area:account;font-size:1.5rem;text-decoration:none;color:#fff}

.main{display:grid;grid-template-columns:280px 1fr;grid-template-areas:'aside content'}
.main .aside{grid-area:aside;background-color:#eee;border-right:1px solid #d3d3d3;padding:36px}
.main .aside .option-title{font-size:1.5em;font-weight:700; color: gray;}
.main .aside ul{font-size:1.25em;margin:32px 8px;line-height:1.5em}
.main .aside ul li{cursor:pointer}

.main .content{grid-area:content;min-height:calc(100vh - 196px);background-color:#fafafa}
.main .content .section.intro{padding:96px 80px;background-color:#fff;border-bottom:1px solid #d3d3d3;
  font-size:1.5rem;line-height:1.3em}
.main .content .section.intro h1{font-size:1.5em;font-weight:700;margin-bottom:24px}
.main .content .section.gallery{padding:16px}
.main .content .section.gallery .article{display:inline-block;margin:8px;padding:24px;background-color:#fff;border:1px solid #ddd;border-radius:16px}
.main .content .section.gallery .article .photo{width:480px;height:360px}
.main .content .section.gallery .article .info{display:grid;grid-template-columns:64px 1fr;grid-template-rows:32px max-content;grid-template-areas:'like author' 'like desc';align-items:center;margin-top:16px;font-size:1.2rem}
.main .content .section.gallery .article .info .like{grid-area:like;text-align:center;font-size:2.4em;color:#ff1493}
.main .content .section.gallery .article .info .author{grid-area:author;font-weight:700}
.main .content .section.gallery .article .info .desc{grid-area:desc;padding:4px 0;color:gray}

#photo-1{background-image:url(#)}

.footer{background-color:#383838;padding:64px 0;font-size:1.2rem;text-align:center}
.footer ul>li{display:inline-block;padding:0 48px}
.footer ul>li:not(:last-child){border-right:1px solid gray}
.footer ul>li a{color:#fff;text-decoration:none}

