@mixin box($size: 100px, $color: tomato) {
	width: $size;
	height: $size;
	background-color: $color;
}
.container {
	@include box(200px);
	.item {
		@include box($color: red);
	}
}
.box {
	@include box;
}