@charset "utf-8";

/* reset */
body {margin: 0;}
h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, p, table {margin: 0; padding: 0;}
h1, h2, h3, h4, h5, h6 {font-weight: 600;}
header, main, footer, section, article, aside, nav {display: block;}
a {color: inherit; text-decoration: inherit;}
a img {border: none;}
img {vertical-align: middle; max-width: 100%;}
li {list-style: none;}

.wrap {position: relative; /*추후에 폰트 추가*/}

/* 슬라이드 영역 */
.slide {background: #ddd;}

.slide .visual {width: 100%; height: 100vh;}
.slide .list {width: 100%; height: 100%; position: relative; background-repeat: no-repeat; background-size: cover; background-position: center; background-color: rgba(0,0,0,0.3); background-blend-mode: multiply; }
.slide .list .textBox {position: absolute; top: 30%; left: 0; background: none; width: 100%; text-align: center;}
/*가운데 선... 어떻게 할지 고민하기*/
.slide .list .textBox:after{content:""; display: block; position: absolute; top: -80px; left: 50%; margin-left: -1px; width: 3px; height: 60px; background-color: #000080; border-radius: 20px;}
.slide .list .textBox .tit {color: #fff; font-size: 80px; line-height: 90px; letter-spacing: -1px; transform: translate(0, 30px); transition: all 0.45s ease; opacity: 0;}
/*글자 우선은 불투명하게*/
.slide .list .textBox .tit span {display: block; margin-bottom: 20px; color: #fff; font-size: 40px; font-weight: 300; line-height: 44px;}
.slide .list .textBox .txt {margin-top: 25px; color: #fff; font-size: 20px; transform: translate(0, -5px); transition: all 0.45s ease; opacity: 0;}
.slide .list .textBox .dot {opacity: 0}
/*slide 모션*/
.slide .list.slick-active .textBox .tit {opacity: 1; transform: translate(0,0); transition: all 0.6s ease-in-out;}
.slide .list.slick-active .textBox .txt {opacity: 0.7; transform: translate(0,0); transition: all 0.6s ease-in-out;}

.slide .slick-dots {position: absolute; bottom: 2%; left: 50%; margin-left: -350px; width: 700px; text-align: center; z-index: 1000;}
.slide .slick-dots li {display: block; float: left; position: relative; width: 145px; height: 100px; margin: 0 15px; cursor: pointer; opacity: 0.5;}
/*width 수정했음*/
/*나중에 cursor 속성도 생각해보기*/
.slide .slick-dots li:after {content: ""; display: block; position: absolute; top:0; left:0; width: 80%; height:6px; background-color: rgba(255,255,255,4); opacity: 0.5;}
/*여기도 width 수정했음*/
.slide .slick-dots li:before {content: ''; display: block; position: absolute; top:0; left:0; width: 0; height: 6px; background: rgba(255, 255,255,1); opacity:0;}
.slide .slick-dots .pager-tit {margin-top: 25px; color: #fff; font-size: 15px; text-align: left; letter-spacing: -1px;}
.slide .slick-dots .slick-active {opacity: 1;}
.slide .slick-dots .slick-active:after {border: 1px solid rgba(214, 214,214,1); background-color: rgba(255,255,255,0); box-sizing: border-box; opacity:1;}
.slide .slick-dots .slick-active:before {width: 100%; border: 1px solid #fff; background-color: #fff; box-sizing: border-box; opacity:1; transition: width 10s ease;}
