/*나눔고딕*/
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');
/*Black Han Sans*/
@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Nanum+Gothic&display=swap');

h1, h2, h3, h4, .navbar-brand
{
  font-family: 'Black Han Sans';
  color: #1B5E20;
}
body 
{
  font-family: 'Nanum Gothic';
  background-color: #C8E6C9;
}

.navbar 
{
  border-bottom: #43A047 3px solid;
}